src/main/mule/customersystemapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="customersystemapi-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="customersystemapi-config" raml="customersystemapi.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="customersystemapi-main">
        <http:listener config-ref="customersystemapi-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="customersystemapi-config" doc:name="APIkit Router"/>
        <exception-strategy ref="customersystemapi-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="customersystemapi-console">
        <http:listener config-ref="customersystemapi-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="customersystemapi-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/systemAPI/customer/{customer_id}:customersystemapi-config">
        <set-variable variableName="custId" value="#[message.inboundProperties['http.uri.params']['customerId']]" doc:name="Variable"/>
        <set-payload value="{&#xA;&quot;customerId&quot; : &quot;1111&quot;,&#xA;&quot;firstName&quot; : &quot;Abhinav&quot;,&#xA;&quot;lastName&quot; : &quot;Sharma&quot;,&#xA;&quot;address&quot; : [&#xA;{&#xA;&quot;line1&quot; : &quot;Line 1&quot;,&#xA;&quot;line2&quot; : &quot;Line 2&quot;,&#xA;&quot;city&quot; : &quot;Pune&quot;,&#xA;&quot;zipcode&quot; : &quot;411057&quot;,&#xA;&quot;label&quot; : &quot;work&quot;&#xA;},&#xA;{&#xA;&quot;line1&quot; : &quot;Line 1&quot;,&#xA;&quot;line2&quot; : &quot;Line 2&quot;,&#xA;&quot;city&quot; : &quot;Pune&quot;,&#xA;&quot;zipcode&quot; : &quot;411057&quot;,&#xA;&quot;label&quot; : &quot;home&quot;&#xA;},&#xA;{&#xA;&quot;line1&quot; : &quot;Line 1&quot;,&#xA;&quot;line2&quot; : &quot;Line 2&quot;,&#xA;&quot;city&quot; : &quot;Pune&quot;,&#xA;&quot;zipcode&quot; : &quot;411057&quot;,&#xA;&quot;label&quot; : &quot;communication&quot;&#xA;}&#xA;],&#xA;&quot;dob&quot; : &quot;01/09/1991&quot;,&#xA;&quot;gender&quot; : &quot;M&quot;,&#xA;&quot;email&quot; : &quot;Abhinav.Sharma@capita.co.uk&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/systemAPI/customer:customersystemapi-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;&quot;message&quot; : &quot;Record created successfully.&quot;&#xA;}" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="customersystemapi-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
